django==3.2.16
djangorestframework==3.14.0
drf-nested-routers==0.93.4
mysqlclient==2.0.1
django-mysql==3.8.1
django_filter
djoser==2.1.0
djangorestframework-simplejwt
pillow
django-cors-headers
celery[redis]==5.2.7
pytest